.editor-title {
    border: solid #ccc;
    border-width: 1px 1px 0px 1px;
}

.editor-content {
    height: 500px !important;
}

.editor-btn-group {
    margin-top: 10px;
    text-align: right;
}

.editor-btn-group input,button {
    margin-right: 3px;
    margin-left: 3px;
}

.editor-btn-group label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.tag-group {
    margin: 20px 0px 20px 0px;
}

.ReactTags__tag, .ReactTags__tagInputField {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.tag-element a {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0px 5px 0px 5px;
    color: white;
}