<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">
    <head>
        <title>Posts</title>
    </head>

    <body>
        <div class="col-lg-8 col-md-10 mx-auto" layout:fragment="header">
            <div class="site-heading">
                <h1>Confident Programmer</h1>
                <span class="subheading">Sharing What I see, learn and done to be a confident programmer</span>
            </div>
        </div>

        <div class="col-lg-8 col-md-10 mx-auto content-placeholder" layout:fragment="contents">
            <div id="postsHolder">

            </div>

            <!-- Pager -->
            <div class="clearfix">
                <a id="newerPosts" class="btn btn-secondary float-left" onclick="loadPost(page-1)">&larr; Newer Posts</a>
                <a id="olderPosts" class="btn btn-secondary float-right" onclick="loadPost(page+1)">Older Posts &rarr;</a>
            </div>
        </div>

        <section layout:fragment="custom-script">
            <script id="templatePostItem" type="text/x-handlebars-template">
                {{#each content}}
                <div class="post-preview">
                    <a href="/posts/{{id}}">
                        <h2 class="post-title">
                            {{title}}
                        </h2>
                        <!--
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                        -->
                    </a>
                    <p class="post-meta">
                        Posted by Confident Developer [{{regDate}}]

                        {{#compare display false operator="=="}}
                        <span class="fa-pull-right">HIDED</span>
                        {{/compare}}
                    </p>
                </div>
                <hr>
                {{/each}}
            </script>

            <script>
                var page = 0;
                var pageSize = 10;

                var loadPost = function(reqPage) {
                    $.ajax({
                        url: '/posts?page=' + reqPage + '&size=' + pageSize,
                        success: function(response) {
                            console.log(response);
                            var template = Handlebars.compile($('#templatePostItem').html());
                            var compiled = template(response);
                            $('#postsHolder').html(compiled);

                            paginate(response);
                        }
                    });
                    page = reqPage;
                }

                var paginate = function(response) {
                    if (response.first) {
                        $('#newerPosts').hide();
                    } else {
                        $('#newerPosts').show();
                    }

                    if (response.last) {
                        $('#olderPosts').hide();
                    } else {
                        $('#olderPosts').show();
                    }
                }

                $(document).ready(function() {
                    Handlebars.registerHelper('compare', function(lvalue, rvalue, options) {
                        if (arguments.length < 3)
                            throw new Error("Handlerbars Helper 'compare' needs 2 parameters");
                        var operator = options.hash.operator || "==";
                        var operators = {
                            '==':       function(l,r) { return l == r; },
                            '===':      function(l,r) { return l === r; },
                            '!=':       function(l,r) { return l != r; },
                            '<':        function(l,r) { return l < r; },
                            '>':        function(l,r) { return l > r; },
                            '<=':       function(l,r) { return l <= r; },
                            '>=':       function(l,r) { return l >= r; },
                            'typeof':   function(l,r) { return typeof l == r; }
                        }
                        if (!operators[operator])
                            throw new Error("Handlerbars Helper 'compare' doesn't know the operator "+operator);
                        var result = operators[operator](lvalue,rvalue);
                        if( result ) {
                            return options.fn(this);
                        } else {
                            return options.inverse(this);
                        }
                    });

                    loadPost(page, pageSize);
                });
            </script>
        </section>
    </body>
</html>