<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">
    <head>
        <title>Posts</title>
        <link href="page-style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="col-lg-8 col-md-10 mx-auto" layout:fragment="header">
            <div class="site-heading">
                <h1>Confident Programmer</h1>
                <span class="subheading">Sharing What I see, learn and done to be a confident programmer</span>
            </div>
        </div>

        <div class="col-lg-8 col-md-10 mx-auto content-placeholder" layout:fragment="contents">
            <div id="postsHolder">

            </div>

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>

        <section layout:fragment="custom-script">
            <script id="templatePostItem" type="text/x-handlebars-template">
                {{#each content}}
                <div class="post-preview">
                    <a href="/posts/{{id}}">
                        <h2 class="post-title">
                            {{title}}
                        </h2>
                        <!--
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                        -->
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> {{regDate}}</p>
                </div>
                <hr>
                {{/each}}
            </script>

            <script>
                $(document).ready(function() {
                    $.ajax({
                        url: '/posts?page=0&size=10',
                        success: function(response) {
                            console.log(response);

                            var template = Handlebars.compile($('#templatePostItem').html());
                            var compiled = template(response);
                            $('#postsHolder').html(compiled);
                        }
                    });
                });
            </script>
        </section>
    </body>
</html>