<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="common/layout">
    <head>
        <title th:text=${title}></title>
    </head>

    <body>
        <div class="col-lg-8 col-md-10 mx-auto" layout:fragment="header">
            <div class="post-heading">
                <h1 th:text=${title}>Empty Title </h1>
                <h2 class="subheading"></h2>
                <span class="meta" th:inline="text">
                    Posted by <a href="#">TheUphill</a>. [[${regDate}]]
                </span>
                <a sec:authorize="hasRole('ADMIN')">[Modify]</a>
                <a href="/posts/9999/remove" sec:authorize="hasRole('ADMIN')">[Remove]</a>
            </div>
        </div>

        <div class="col-lg-8 col-md-10 mx-auto" layout:fragment="contents" th:utext=${contents}>

        </div>
    </body>
</html>