<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="common/layout">
    <head>
        <title th:text=${title}></title>
    </head>

    <body>
        <div class="col-lg-8 col-md-10 mx-auto" layout:fragment="header">
            <div class="post-heading">
                <h1>Write Post</h1>
            </div>
        </div>

        <div class="col-lg-8 col-md-10 mx-auto" layout:fragment="contents">
            <form role="form" action="/posts/write" method="post">

                <div class="form-group">
                    <label for="title">
                        Title
                    </label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="form-group">
                    <label for="contents">
                        Contents
                    </label>
                    <input type="text" class="form-control" id="contents" name="contents">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>